<!-- Navigation -->
<a id="downloadurlmodal" href="#downloadURLModal" data-toggle="modal" style="display:none"></a>
<nav class="navbar navbar-nav navbar-fixed-top" role="navigation" style="background-color: white;">
<div class="container-fluid">
    	<div class="navbar-header" style="height:100px">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tabcollapse" style="border-color:#208AF0;">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar" style="background-color:#0000FF"></span>
	    <span class="icon-bar" style="background-color:#0000FF"></span>
	    <span class="icon-bar" style="background-color:#0000FF"></span>
	</button>
	<!--  ********************  -->
	<a class="navbar-brand navbar-right">
		<div class="visible-xs hidden-sm hidden-md hidden-lg">
           		<img src="templates/nevadaet/images/nevadaet7.png" height="93px" style="padding:2px">
			<span style="font-size:18px;color:maroon;padding:2px">Nevada</span>
                 </div>
		<div class="hidden-xs visible-sm hidden-md hidden-lg">
			<span style="font-size:18px;color:maroon">Nevada </span>
			<span style="font-size:18px;background-color:white;color:brown">ETg-Mapper</span>
                 </div>
                 <div class="hidden-xs hidden-sm visible-md visible-lg" style="display:inline">
           		<img src="templates/nevadaet/images/nevadaet7.png" height="93px" style="padding:2px"><span style="font-size:36px;color:maroon">Nevada</span>
			<span style="font-size:30px;background-color:white;color:brown">ETg-Mapper</span>
		</div>
			</a> 
    </div>
</div>
<!-- /.container -->
</nav>
